@import url("https://api.fontshare.com/v2/css?f[]=zodiak@1&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=supreme@1&display=swap");

@font-face {
  font-family: Zodiak;
  src: url("https://api.fontshare.com/v2/css?f[]=zodiak@1&display=swap");
}

section {
  width: 1920px;
  height: 1080px;
  font-size: 40px;
  padding-left: 100px;
  padding-top: 0;
  padding-bottom: 40px;
  padding-right: 60px;
  background-color: #aff7d0;

  font-family: "Supreme";
  color: #021713;

  --size: 200px;
  background-image: repeating-linear-gradient(
      0deg,
      #02171311,
      #02171311 1px,
      transparent 1px,
      transparent var(--size)
    ),
    repeating-linear-gradient(
      -90deg,
      #02171311,
      #02171311 1px,
      transparent 1px,
      transparent var(--size)
    ),
    radial-gradient(#aff7d0 0%, #79eaac 90%);
  background-size: var(--size) var(--size), var(--size) var(--size), 100% 100%;
}

section::after {
  font-weight: bold;
  color: #021713;
  text-shadow: 2px 2px 0 #fff;
  font-family: "IBM Plex Mono";
}

h1 {
  font-family: "Zodiak";
  font-weight: 800;
  letter-spacing: -3px;
}

h2 {
  font-size: 0.7rem;
  font-weight: thin;
  color: #021713;
  border: 2px solid #021713;

  width: max-content;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border-radius: 0.7rem;
}

h3 {
  font-size: 40px;
  font-weight: thin;
  letter-spacing: -1px;
}

li {
  margin-top: 0px;
}

a {
  color: #0e685f;
}

code {
  font-family: "IBM Plex Mono Medium";
  color: #0e685f;
}

em {
  color: #0e685f;
}
